3.Job Offers Relevance.json
{
  "name": "3.Job Offers Relevance",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers",
          "mode": "list",
          "cachedResultName": "job_offers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "match_score_percentage",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        672
      ],
      "id": "011c92fd-0f4f-44cf-981a-074a60b25930",
      "name": "Job Offers",
      "credentials": {
        "postgres": {
          "id": "u76fuDga6pMPkVOv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -480,
        672
      ],
      "id": "409993ee-b5ee-4e99-9593-3ab2c26ddb8e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RZooeNSj1IKG6U-NvDA_y",
          "mode": "list",
          "cachedResultUrl": "/workflow/RZooeNSj1IKG6U-NvDA_y",
          "cachedResultName": "Job Offers - store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        656,
        0
      ],
      "id": "1bd1f2ed-ddcc-407d-a042-044a9f1190fc",
      "name": "Job Offers - store"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        624
      ],
      "id": "d9fc588c-bf9c-4032-b4e6-d0f1f7845959",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fExem6aZ9vIXlYA2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "# Qdrant Vector Store – Kandidaten-Skills\n\n**Beschreibung:**  \nDer Qdrant Vector Store speichert **repräsentative Vektor-Embeddings von Kandidatenprofilen**, insbesondere deren **technische Skills, Projekterfahrungen und Tool-Expertise**. Jeder Kandidat wird als **hochdimensionaler Vektor** abgebildet, sodass **ähnliche Kandidaten oder relevante Skills schnell und präzise gefunden** werden können.  \n\n**Zweck im Recruiting-Prompt:**  \n- Ermöglicht dem Modell, vor jeder Analyse **relevante Kandidateninformationen** zu laden.  \n- Unterstützt das **Think Tool** bei der aktiven Bewertung von Jobanforderungen gegenüber Kandidaten-Skills.  \n- Macht das Matching zwischen Job und Kandidat **datenbasiert, nachvollziehbar und reproduzierbar**.  \n\n**Beispielhafte Inhalte:**  \n- Programmiersprachen (PHP, Python, JavaScript)  \n- Frameworks (Magento, Symfony, Laravel)  \n- APIs / Schnittstellen (REST, GraphQL)  \n- Frontend / Backend / Fullstack Expertise  \n- Projektbezogene Erfahrungen (E-Commerce, CI/CD, Cloud)  \n\n**Hinweis:**  \nDer Vector Store dient **ausschließlich als interner Referenzspeicher für Kandidateninformationen**. Das Modell **greift automatisch auf die relevanten Vektoren zu**, bevor es Job-Matching oder fachliche Analysen erstellt.\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "skills",
          "mode": "list",
          "cachedResultName": "skills"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        96,
        416
      ],
      "id": "31007f06-28e0-4b67-a8d9-fae3cc0ed0cb",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "pEzihld59blFRrep",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -928,
        672
      ],
      "id": "db376b4a-522b-4b57-93ef-0442ae9053dd",
      "name": "11am"
    },
    {
      "parameters": {
        "model": "ministral-14b-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -32,
        416
      ],
      "id": "e2e63747-d967-4153-84de-3eecef3c77e8",
      "name": "Ministral 14B",
      "credentials": {
        "mistralCloudApi": {
          "id": "11LMbBUj7iiIvzSB",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        960,
        896
      ],
      "id": "47f14068-c135-49fb-bd6a-9835babafc4e",
      "name": "Small",
      "credentials": {
        "mistralCloudApi": {
          "id": "11LMbBUj7iiIvzSB",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"job\": {\n    \"id\": \"{{ $('Loop Over Items').first().json.id }}\",\n    \"title\": \"{{ $('Loop Over Items').first().json.title }}\",\n    \"description\": \"{{ $('Loop Over Items').first().json.description }}\"\n  }\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=--- \n\n### Agent 1: The Scout (Dynamic Job Analysis & Candidate Retrieval)\n\n**TCREI FRAMEWORK:**\n\n* **Task:** Analyze job requirements and retrieve matching candidate profiles from vector database\n* **Context:** First stage of dynamic career match engine - adapts to any job type\n* **Role:** Intelligent Job Analyst & Candidate Search Specialist  \n* **Execute:** Extract actual job requirements, search vector store, provide evidence\n* **Interrogate:** Are the extracted requirements accurate? Did the search return relevant candidates?\n\n**DYNAMIC ANALYSIS PROCESS:**\n\n1. **Job Requirements Extraction:** Analyze the job title and description to identify the ACTUAL skills, experience level, role type, and technologies required for THIS SPECIFIC POSITION. Do not assume or use hardcoded requirements.\n\n2. **Candidate Search:** Use the Vector Store tool to find candidate profiles that possess the skills and experience you identified in step 1.\n\n3. **Evidence Extraction:** Compare candidate profiles against the ACTUAL job requirements. Extract specific evidence showing matches and gaps for:\n   - **Skills & Technologies:** What programming languages, frameworks, tools are required vs. what candidates have\n   - **Role & Experience:** What type of role and experience level is needed vs. candidate backgrounds  \n   - **Seniority Level:** Years of experience required vs. candidate tenure\n   - **Domain Expertise:** Industry or domain knowledge needed vs. candidate specializations\n\n**Constraint:** Focus on the ACTUAL requirements from the job posting. Ignore any assumptions about specific technologies unless they're explicitly mentioned.\n\n**Output Format:** Structured evidence report showing matches between job requirements and candidate capabilities.\n\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        112,
        192
      ],
      "id": "3f961f4a-895a-4915-88fb-412e0185a226",
      "name": "1. The Scout"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Input\n{{ JSON.stringify($json.output, null, 2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "---  ### Agent 2: The Analyst (Weighted Scoring)  **TCREI FRAMEWORK:**  * **Task:** Calculate a precise weighted match score based on extracted evidence. * **Context:** Second stage. Operates on the \"Evidence Report\" from the Scout. * **Role:** Mathematical Reasoning Analyst. * **Execute:** Apply the 45/25/20/10 weighting formula. * **Interrogate:** Is the math consistent? Does a missing profile correctly trigger the \"Score = 1\" fallback?  **PROMPT:**  **Chain of Thought:** 1. Review the input from the Scout. 2. **Check Fallback:** If the input is \"STATUS: NO_PROFILE_DATA_FOUND\", immediately set the `final_score` to **1**. 3. **Weighted Calculation:** If data exists, calculate the score step-by-step: * **Skills [45%]:** What % of PHP/Magento/Linux requirements are met? (Weight * 0.45) * **Role [25%]:** How well does the profile align with ERP/Dynamics 365? (Weight * 0.25) * **Seniority [20%]:** Does the user have 20+ years of experience? (Weight * 0.20) * **Tooling [10%]:** Match for C#/Azure/Windows Server? (Weight * 0.10)   4. Sum the components to create a final integer between 1 and 100.   **Constraint:** Ensure the logic is strictly mathematical and follows the weights exactly. **Output Format:** Text (Internal Reasoning + Final Score Integer).  ---"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        592,
        400
      ],
      "id": "c168656b-f7b1-423a-8b60-c32a72b0c37c",
      "name": "2. The Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"id\": \"{{ $('Loop Over Items').first().json.id }}\",\n  \"title\": \"{{ $('Loop Over Items').first().json.title }}\",\n  \"analyst_output\": \"{{ JSON.stringify($json.output, null, 2) }}\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "---\n\n### Agent 3: The Matchmaker (JSON Formatting)\n\n**TCREI Framework:**\n\n* **Task:** Clean the Analyst's output and generate the final JSON object.\n* **Context:** The final delivery stage. No domain filtering is required.\n* **Role:** Quality Control and Formatting Specialist.\n* **Execute:** Extract the final integer score and map it to the job metadata (ID and Title).\n* **Interrogate:** Is the output **ONLY** a valid JSON object?\n\n**PROMPT:**\n\n**Chain of Thought:**\n1. Review the input containing the Job Metadata (ID, Title) and the Analyst's calculation text.\n2. **Extract Score:** Identify the final integer score (1-100) from the Analyst's reasoning. Ignore all LaTeX math and \"thinking\" steps.\n3. **Construct JSON:** Map the `id`, `title`, and `match_score_percentage` into the final structure.\n\n\n**Constraint:** Your response must contain **ONLY** the JSON object. Do not include introductory text, reasoning, or markdown headers outside of the JSON block.\n\n---"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        944,
        672
      ],
      "id": "7df9c730-4822-49dc-bc8b-7ef0415a3a34",
      "name": "3. The Matchmaker"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        608,
        624
      ],
      "id": "b59cf64c-9900-4746-ab81-e66139a19d51",
      "name": "Large",
      "credentials": {
        "mistralCloudApi": {
          "id": "11LMbBUj7iiIvzSB",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"description\": \"Either 'PROFILE_DATA_FOUND' or 'NO_PROFILE_DATA_FOUND'\"\n    },\n    \"evidence\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"skills\": { \"type\": \"string\", \"description\": \"Evidence for PHP, Magento, Linux\" },\n        \"role\": { \"type\": \"string\", \"description\": \"Evidence for ERP/Dynamics 365\" },\n        \"seniority\": { \"type\": \"string\", \"description\": \"Evidence for 20+ years experience\" },\n        \"tooling\": { \"type\": \"string\", \"description\": \"Evidence for C#, Azure, Windows Server\" }\n      }\n    }\n  },\n  \"required\": [\"status\", \"evidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        416
      ],
      "id": "c232299e-74fc-4aa9-ac05-b7e1116bcf40",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"calculation_steps\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Step-by-step breakdown of the 45/25/20/10 math\"\n    },\n    \"final_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 100,\n      \"description\": \"The final weighted match score\"\n    }\n  },\n  \"required\": [\"calculation_steps\", \"final_score\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        624
      ],
      "id": "8dc4dc3b-103b-49ae-b9c6-67b5e0eca2c1",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"string\",\n      \"description\": \"The unique identifier or URL of the job advertisement.\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"The official job title from the advertisement.\"\n    },\n    \"match_score_percentage\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 100,\n      \"description\": \"The final calculated weighted score from the Analyst.\"\n    }\n  },\n  \"required\": [\"id\", \"title\", \"match_score_percentage\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        896
      ],
      "id": "637897a3-f78c-4408-beac-20574ad4468f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -256,
        0
      ],
      "id": "a8b154fb-acd2-4449-8d3b-dbc70ed7e5f2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "a1602130-2472-48f2-9100-34f3cec5d821",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a10bb4b-7979-475a-9b21-a9c875e4f994",
              "leftValue": "={{ $json.description }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -256,
        608
      ],
      "id": "6cf81d90-421f-4e0c-ac9b-f6819ee23288",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afcb18b8-6938-4d6d-a8fd-becdc0b22a14",
              "name": "output.id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "e4940d8a-2847-401f-822c-fcfc4685428a",
              "name": "output.title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "33bba2ce-fc84-4c67-9f64-f86280bda225",
              "name": "output.match_score_percentage",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        672
      ],
      "id": "2ee01a40-d452-4ab7-8a9d-6cbee676c80c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Job Offers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "11am": {
      "main": [
        [
          {
            "node": "Job Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ministral 14B": {
      "ai_languageModel": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Small": {
      "ai_languageModel": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "1. The Scout": {
      "main": [
        [
          {
            "node": "2. The Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. The Analyst": {
      "main": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. The Matchmaker": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Large": {
      "ai_languageModel": [
        [
          {
            "node": "2. The Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "2. The Analyst",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Job Offers - store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "1. The Scout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2196bff1-101d-4fe6-9b74-7bb016db63bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9984e2e466df2329f1cac74dac5667eec63d2dae2a6167aaec8bc5562b150194"
  },
  "id": "xb6U4ka5rLJKiJaJobg4n",
  "tags": [
    {
      "updatedAt": "2026-01-20T07:42:18.200Z",
      "createdAt": "2026-01-20T07:42:18.200Z",
      "id": "9IJ9tTz9SJV8l39N",
      "name": "jobs"
    }
  ]
}